{% comment %}
{% extends 'base/layout.html' %}
{%block content%}

<div class="table">

    <form action="" method="post"
    {% csrf_token %}
        <input type="text" class="form-control">

    <table class="table table-hover">


        <thead class="table-dark">

            <tr>
                <th>id</th>
                <th>username</th>
                <th>productname</th>
            </tr>
        </thead>
        <tbody>
            <td>2</td>
            <td>admin</td>
            <td>product1</td>
        </tbody>

    </table>
</div>
{%endblock%}
{% endcomment %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kur sizi salamlayir</title>
    <h3>Salam {{request.user.get_full_name}}</h3>
    <h2>Mehsullar</h2>

    {% for instance in products %}
    <h4>Id: {{instance.id}}</h4>
        <h4>Mehsulun adi: {{instance.name}}</h4>
        <h4>Tarix: {{instance.created_at}}</h4>
        <h4>User: {{instance.user.username}}</h4>

        {%if instance.image %}
        <img src="{{ instance.image.url }}" alt="Hamster" width="500" height="600">
        <h4>--------------------------------</h4>
        {%endif%}
        <br>
        <a href="{% url 'create_order' instance.id 2 %}">Sifaris et</a>
        <br>
        <a href="{% url 'detail_product' instance.id%}">more detail</a>
        <br>
        {%if user == instance.user%}
        <a href="{% url 'delete_product' instance.id%}">Delete</a>
        {%endif%}
    {% endfor %}

</head>
<body>
</body>
</html>